.foodCard{
    width:100%;
    margin:auto;
    border-radius:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: 1s;
    animation:fadeIn 1s ease;
    cursor: pointer;
    transition:ease-in 1s;
}
.foodCard:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0,0.1);
  transform:scaleX(1);
}
.foodCardImgContainer{
    width:100%;
    position:relative;
}
.foodCardImgContainer img{
    width:100%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    height:200px;
}
.foodCardData{
    padding:20px;
}
.foodCardData .nameRating{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:10px;
}
.nameRating p{
    font-size: 20px;
    font-weight:500;
}
.nameRating img{
    width:80px;
}
.foodCardData  .foodDescription{
    margin-bottom:10px;
    font-size:18px;
    color:#676767;
}
.rate{
    color:tomato;
}

.foodCardImgContainer .initialAddBtn{
    width:35px;
    height:35px;
    /* background-color: red; */
    border-radius:50%;
    position:absolute;
    bottom:20px;
    right:10px;
    cursor: pointer;
    transition:ease-in-out 0.5s;
}
.foodCardImgContainer .decideQty{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
    position:absolute;
    bottom:20px;
    right:10px;
    background-color: white;
    border-radius:20px;
    padding:5px;
}
.foodCardImgContainer .decideQty img{
    width:35px;
    height:35px;
    cursor:pointer;
    transition:ease-in 0.5s;
}
.foodCardImgContainer .decideQty p{
    padding:0 0.5vw;
}